[project]
name = "mavemap"
description = "Map MaveDB scoresets to reference sequences"
authors = [
    {name = "Alex Handler Wagner", email = "Alex.Wagner@nationwidechildrens.org"},
    {name = "Jeremy Arbesfeld", email = "todo@todo.com"},
    {name = "Samriddhi TODO", email = "todo@todo.com"},
    {name = "James Stevenson", email = "James.Stevenson@nationwidechildrens.org"},
]
readme = "README.md"
version = "0.0.1"
license = { file = "LICENSE" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: FastAPI",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 1",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
]
requires-python = ">=3.8"
dependencies = [
    "requests",
    "biopython",
    "tqdm",
    "click",
    "cool-seq-tool==0.1.14-dev1",  # temporary pin
    "gene-normalizer==0.1.40-dev0",  # temporary pin
    "mavetools",
    "pydantic",
    "fastapi",
    "python-dotenv",
]

[project.scripts]
dcd-map = "mavemap.cli:cli"

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-mock",
    "pytest-cov"
]
dev = [
    "ruff",
    "black",
    "pre-commit"
]

[project.urls]
Homepage = "https://www.varianteffect.org/"
Documentation = "https://github.com/ave-dcd/dcd_mapping/README.md"
Source = "https://github.com/ave-dcd/dcd_mapping"


[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts = "--cov=src --cov-report term-missing"
testpaths = ["tests"]

[tool.coverage.run]
branch = true

[tool.black]
line-length = 88
extend-exclude = "^/docs/source/conf.py"  # TODO pending docs

[tool.ruff]
# pycodestyle (E, W)
# Pyflakes (F)
# flake8-annotations (ANN)
# flake8-quotes (Q)
# pydocstyle (D)
# pep8-naming (N)
# isort (I)
select = ["E", "W", "F", "ANN", "Q", "D", "N", "I"]

fixable = ["I"]

# D203 - one-blank-line-before-class
# D205 - blank-line-after-summary
# D213 - multi-line-summary-second-line
# D400 - ends-in-period
# D415 - ends-in-punctuation
# ANN101 - missing-type-self
# ANN003 - missing-type-kwargs
# E501 - line-too-long
ignore = ["D203", "D205", "D213", "D400", "D415", "ANN101", "ANN003", "E501"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"

[tool.ruff.per-file-ignores]
"tests/*" = ["ANN001", "ANN201"]
