agct==0.1.0.dev1
aiofiles==23.2.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
beautifulsoup4==4.12.3
biocommons==0.0.0
biocommons.seqrepo==0.6.9
biopython==1.83
bioservices==1.11.2
bioutils==0.5.8.post1
boto3==1.34.69
botocore==1.34.69
bs4==0.0.2
canonicaljson==2.0.0
cattrs==24.1.2
cdot==0.2.26
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
configparser==6.0.1
contourpy==1.3.0
cool_seq_tool==0.6.0
coverage==7.6.1
cycler==0.12.1
-e git+https://github.com/ave-dcd/dcd_mapping.git@9a87efae7192ba88ae01a1a233f1bdc528c47d5f#egg=dcd_mapping
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
easydev==0.13.2
eutils==0.6.0
executing==2.0.1
fastapi==0.110.0
filelock==3.16.1
fonttools==4.54.1
fqfa==1.3.1
ga4gh.vrs==2.0.0a10
gene-normalizer==0.4.1
gevent==24.2.1
greenlet==3.1.1
grequests==0.7.0
h11==0.14.0
hgvs==1.5.4
httpcore==1.0.6
httpx==0.26.0
humanfriendly==10.0
identify==2.6.1
idna==3.6
idutils==1.2.1
importlib_metadata==7.1.0
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.29.3
ipython==8.22.2
isbnlib==3.10.14
jedi==0.19.1
jmespath==1.0.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.7
lazy==1.6
line_profiler==4.1.3
lxml==5.3.0
matplotlib==3.9.2
matplotlib-inline==0.1.6
mavedb==2024.1.0
mavehgvs==0.6.1
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==1.26.4
packaging==24.0
pandas==1.4.4
Parsley==1.3
parso==0.8.3
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.0
pluggy==1.5.0
polars==1.8.2
pre-commit==3.8.0
prompt-toolkit==3.0.43
psutil==5.9.8
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.17.2
pyhumps==3.8.0
pyparsing==3.1.4
pysam==0.22.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==0.20.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
requests-cache==1.2.1
requests-mock==1.12.1
ruff==0.5.0
s3transfer==0.10.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.35
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.36.3
suds-community==1.2.0
tabulate==0.9.0
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==1.26.18
uvicorn==0.29.0
virtualenv==20.26.6
wags_tails==0.1.3
wcwidth==0.2.13
wrapt==1.16.0
xmltodict==0.14.0
yoyo-migrations==8.2.0
zipp==3.18.1
zope.event==5.0
zope.interface==7.0.3
